<?xml version="1.0" encoding="utf-8"?>
<!--
  Cobertura de AutoTask.Core, de la aplicacion WPF y de los ficheros de la aplicacion enlazados en el ensamblado de
  pruebas (se incluye el ensamblado de pruebas y se quitan las propias pruebas).
-->
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat code coverage">
        <Configuration>
          <Format>cobertura</Format>
          <IncludeTestAssembly>true</IncludeTestAssembly>
          <Include>[AutoTask.Core]*,[sOCAutoTask]*,[AutoTask.Tests]*</Include>
          <UseSourceLink>false</UseSourceLink>
          <ExcludeByFile>**/AutoTask.Tests/*.cs,**/obj/**</ExcludeByFile>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>


